.navBlock{
  grid-area: n;
  background-image:url(https://img0.liveinternet.ru/images/attach/c/2//68/92/68092312_1292836360_9e8fd1701c54.gif);
  border-radius: 20px;
  border: 4px solid white;
}
.navBlock img{
  border-radius: 20px;
  width: 293px;
  box-shadow: 0 0 100px white;
}